body {
  background: url(https://images.unsplash.com/photo-1565638459249-c85cbb2faaa8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  background: inherit;
  color: white;
}

.containerJumbo {
  padding-top: 1.5rem;
  width: 800px;
  height: 450px;
  display: grid;
  align-items: center;
  backdrop-filter: blur(30px);
  box-shadow: 1px 1px 300px 2.5px rgba(0, 0, 0, 0.86);
  border-radius: 10px;
}

h1 {
  color: white;
}

.opening {
  width: 70%;
  margin: 25px auto;
}

.formInput {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  font-size: 24px;
  background: inherit;
  border-top: hidden;
  border-bottom: 0.5px solid white;
  border-right: hidden;
  border-left: hidden;
  color: white;
  outline: none;
}

::placeholder {
  color: white;
  opacity: 0.4;
  font-size: 24px;
}

.btn {
  font-size: 18px;
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
}
